.csi-logo {
	width: auto;
	height: 100%;
}
.navbar-brand {
	padding: 5% 5%;
}
.navbar-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 17px;
    padding: 10px;
}
html, body {
  height:100%;
}
.row-text {
	margin-top:15%;
	font-size: 25px;
}
.row-options {
	margin-top: 2%;
}
.choice-title {
  font-size: 30px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 2px solid black;
}
.box {
  background: #ffffff;
  border-radius: 6px;
  transition-property: background, border-radius;
  transition-duration: .4s, 1s;
  transition-timing-function: linear;
}

/* Scale up the box */
.box:hover {

    background-color: #121642;
	color: white;
  	border-radius: 10%;
}

.rotate {
  background: white;
	transition-duration: .4s, 1s;
  transition-timing-function: linear;
  font-family: Trajan;
}

.rotate:hover
{
  color: white;
  background: -webkit-linear-gradient(left,#121642 , #283aef); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,#121642, #283aef); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,#121642, #283aef); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#121642, #283aef); /* Standard syntax */
}


/* DEMO-SPECIFIC STYLES */
.typewriter {
  background: white;
}
.typewriter h1 {
  color: #000;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    margin-top: 12%;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


 /* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;

}

body {
 -webkit-animation: bg-animation 30s ease infinite;
-moz-animation: bg-animation 30s ease infinite;
animation: bg-animation 30s ease infinite;
 background: linear-gradient(269deg, #246655, #1b66da, #1ba9da, #37d8d6);
 background-size: 800% 800%;
}

@-webkit-keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

