.csi-logo {
	width: auto;
	height: 100%;
}
.navbar-brand {
	padding: 5% 5%;
}
.navbar-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 17px;
    padding: 10px;
}
html, body {
  height:100%;
}
.row-text {
	margin-top:15%;
	font-size: 25px;
}
.row-options {
	margin-top: 2%;
}
.choice-title {
  font-size: 30px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 2px solid black;
}
.hover7{
  display: inline-block;
}

.hover7:hover .hover7__label:after,
.hover7:focus .hover7__label:after{
  transform: translate3d(0, 0, 0);
}

.hover7__label{
  position: relative;
  overflow: hidden;
  padding-bottom: 4px;
  display: inline-block;
}

.hover7__label:after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: 0;

  transform: translate3d(-70%, 0, 0);
  transition: transform .2s ease-in;
}

.menu__link{
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.box {
  background: #ffffff;
  border-radius: 6px;
  transition-property: background, border-radius;
  transition-duration: .4s, 1s;
  transition-timing-function: linear;
}

/* Scale up the box */
.box:hover {

    background-color: #121642;
	color: white;
  	border-radius: 10%;
}

.box-tech {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */

/* Scale up the box */
.box-tech:hover {
  transform: scale(1.2, 1.2);
}

/* Fade in the pseudo-element with the bigger shadow */
.box-tech:hover::after {
  opacity: 1;
}

.rotate {
  background: white;
	 transition-duration: .4s, 1s;
  transition-timing-function: linear;
  font-family: Trajan;
}

.rotate:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}


/* DEMO-SPECIFIC STYLES */
.typewriter {
  background: white;
}
.typewriter h1 {
  color: #000;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    margin-top: 12%;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


 /* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;

}

body {
 -webkit-animation: bg-animation 30s ease infinite;
-moz-animation: bg-animation 30s ease infinite;
animation: bg-animation 30s ease infinite;
 background: linear-gradient(269deg, #246655, #1b66da, #1ba9da, #37d8d6);
 background-size: 800% 800%;
}

@-webkit-keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes bg-animation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

